@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Ubuntu:ital,wght@0,400;1,500&display=swap');

*{

    box-sizing: border-box;
    margin: 0;

}

body{

    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #EEEEEE;
    width: auto;
    height: auto;
    text-decoration: none;

}

hr{

    height: 0px;
    width: 100%;

    border: 1px solid #A4A4A4;

}

/* top bar */

#topBar{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 57px;
    gap: 10px;

}

/* logo class */

.logo{

    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 38px;
    line-height: 30px;
    align-items: center;
    text-align: center;

    background-color: #3FBDF4;
    padding: 24px;
    border-radius: 48px;

    color: #000000;

    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.logo small{

    font-size: 18px;
    font-weight: lighter;
    font-style: normal;
    line-height: 30px;
    text-align: center;

}

/* nav bar */

#navBar{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    background-color: #EEEEEE;

    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

#navBar hr{

    border: 1px solid rgba(0, 0, 0, 0.24);
    width: 100%;

}

#navContent{

    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 87px;

}

#navContent ul{

    list-style: none;
    display: inline-flex;
    gap: 50px;

}

#navContent li a{

    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;

    color: #292929;

}

/* main content */

#mainContent{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 10px 10px;
    gap: 43px;

    width: 100%;
    height: auto;

    /* background: url(../resource/PngItem_37456.png); */
    background-repeat: no-repeat;
    background-position: center;

}

#title{

    font-family: 'Ubuntu', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #292929;

    width: 402px;

}

#mainContent form{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 50px 50px 50px;
    gap: 50px;

    height: auto;

}

#registForm{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 50px;
    gap: 45px;

    height: auto;

}

.form{

    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
    gap: 11px;

}

label[for=formLabel]{

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #292929;

}

input[class=formEntry]{

    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    width: 550px;
    height: 47px;
    color: white;
    background: #3B3B3B;

    border-radius: 10px;
    border: none;

    padding: 10px;

}

input[class=formEntry]::placeholder{

    color: white;
    padding: 10px;

}

input[class=formEntry]:focus{

    outline: none;

}

#mainContent p{

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #292929;

}

#tncLink{

    text-decoration: none;
    color: #73C5EA;

}

#tncLink:hover{

    color: #2781ab;

}


.errorMsg{

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;

    color: red;

}

#registBtn{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 472px;
    height: 72px;

    background: #73C5EA;
    border-radius: 59px;

    cursor: pointer;

}

/* bikin calendar icon putih */
input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#registBtn:hover{

    background:#0097DA;

}

button[id=registBtn]{

    font-family: 'Trebuchet MS';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}

/* footer */

#footer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 120px;
    gap: 280px;

    height: 182px;

    background: #3B3B3B;

}

#footer .logo{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 7px;

    height: 79px;
    width: 250px;   

}

#subText{

    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

}

#feedbackLink{

    text-decoration: none;
    color: white;
}

#sendFeedback{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;

    width: 280px;
    height: 65px;

    background: #3FBDF4;
    border-radius: 62px;

    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color:  black;

    transition: 300ms;

}

#sendFeedback:hover{

    transform: scale(1.1);
    background: #44dede;

}

#socialMedia{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    ;
    gap: 25px;

    width: 141px;
    height: 67px;

    background: #FFFFFF;
    border-radius: 62px;

}

#socialMedia img{

    width: 24px;
    height: 24px;

}

#socialMedia a{

    height: 24px;

}

#copy{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;

    height: 45px;

    background: #3B3B3B;
    
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    
    color: white;

}